<style>
    #comments-component #container-comments {
        background-color: #fff;
        padding: 20px;
        margin: 0 0 0 0;
    }
</style>

<div id="comments-component">
    <div class="profile">
        <div class="profile-body">
            <div class="container">
                <div data-target="render">
                    
                    <script id="item-template" type="text/template">
                        
                        <div id="container-comments">
                            <div id="div_comentarios_1" class="container_comentario">
                                <div id="div_comentarios"></div>
                            </div>
                        </div>

                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
